streamlit==1.29.0
altair==4.2.2
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
opencv-python-headless==4.9.0.80
mediapipe==0.10.9
joblib==1.3.2
pillow==9.5.0

# 🔥 ADD THIS LINE
opencv-contrib-python-headless==4.9.0.80
